body{
	margin: 0;
	padding: 0;
	background-color: #F2F2F2!important;
	-webkit-text-size-adjust: 100% !important;
	padding-bottom: constant(safe-area-inset-bottom);
}
a{
	text-decoration: none;
}
.f_weight{
	font-weight: 700;
}
.tl_l{
	text-align:left;
}
.tl_c{
	text-align:center;
}
.tl_r{
	text-align:right;
}
.no_bor{
	border:none!important;
}
.no_mar{
	margin:0!important;
}
.no_pad{
	padding:0!important;
}
.f_weight{
	font-weight: 700;
}
/* 颜色 */
.col_ffb529{
	color: #ffb529!important;
}
.back_ffb529{
	background-color:#ffb529!important;
}
.col_ffb033{
	color: #ffb033!important;
}
.col_ff1400{
	color: #ff1400
}
.col_ff2918{
	color: #ff2918
}
.col_3988ff{
	color: #3988ff;
}
.col_999999{
	color: #999999;
}
.col_fefefe{
	color: #fefefe;
}
.col_fff{
	color: #fff;
}
/* 遮盖层 */
#cumtor{
	z-index:999;
	width: 100%;
	height:100%;
	position: absolute;
	background-color: #000;
	opacity: 0.5;
    left: 0px;
    top: 0px;
    display: none;
    text-align: center;
}

#cumtor_img img{
	position: absolute;
	left: 11%;
    top: 0px;
	z-index:1999;
	width:80%;
	height: 50%;
	margin-top:40%;
	opacity: 1!important;
	background:rgba(255,255,255,0.3);
}

/* 修改swiper未选择颜色 */
.swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active {
   opacity: 1;
   background-image: linear-gradient(90deg, 
		#fed426 0%, 
		#fea126 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
}
/* footer */
#bottom_nav{
	position: fixed;
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: center;
	z-index: 2;
	color: #fff;
	bottom: 0;
	background-color: #fff;
	height: 0.98rem;
	align-items: center;
}
#bottom_nav a{
	text-align:center;
	margin-top:0.1rem;
}

#bottom_nav p{
	margin: 0;
	font-size: 0.21rem;
	color: #828385;
	letter-spacing: 2px;
	text-align:center;
	margin-top:-0.1rem;
	
}
#bottom_nav a>img{
	width: 0.41rem;
	height: 0.4rem;
	margin-right: 0.05rem;
}

.nav_center{
	position: relative;
	text-align: center;
	margin: 0 1.16rem;
	color: #ffb033;
	position: relative;
}
.k_dis{
	display:block;
	width:0.45rem!important;
	height:0.45rem!important;
}
.d_dis{
	width:0.9rem!important;
	height:0.21rem!important;
	position:absolute;
	top: 0.55rem;
    left: -0.2rem; 
}
/* 时间插件 */
.show_num{
	width: 0.70rem!important;
	height: 0.56rem!important;
	background-color: #eeeeee!important;
	border-radius: 4px!important;
	margin:0 0.08rem!important;
	font-size: 0.24rem!important;
}

.weui-count .weui-count__btn{
	background-color: #eeeeee;
	border-radius: 4px;
	width: 0.56rem;
	height: 0.56rem;
	border:none;
}
.dot_mar{
	margin-bottom: 2.5rem!important;
}
.price_time_dw{
	font-size: 0.2rem;
}
.ds_tc{
	overflow: hidden;
	position: fixed;
	top: -1;
}




